<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6055703718503" version="0.0.1">
  <name>sf-app</name>  
  <description/>  
  <author email="2007303137@163.com" href="http://www.apicloud.com">epichust丶William</author>
  <content src="html/login.html"/>  
  <preference name="pageBounce" value="true"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="false"/>  
  <preference name="customRefreshHeader" value="UIPullRefreshMotive"/>  
  <preference name="softInputMode" value="auto"/>  
  <permission name="readPhoneState"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <access origin="*"/> 
</widget>
